<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bol.policy.com.policyboloriginal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cust_First_Screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Mobile"
            android:parentActivityName=".Cust_First_Screen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_contact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Refer_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Customer_info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyPolicy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Emergency_contact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PolicyViewer"
            android:parentActivityName=".MyPolicy" />
        <activity
            android:name=".EditCustomerInfo"
            android:parentActivityName=".Customer_info" />
    </application>

</manifest>